absl-py==2.1.0
astunparse==1.6.3
backpack==0.1
bcrypt==4.2.1
blinker==1.9.0
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
cleo==0.6.8
click==8.1.8
Faker==0.8.18
Flask==3.1.0
flatbuffers==24.12.23
gast==0.4.0
google-auth==2.37.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.69.0
h5py==3.12.1
idna==3.10
inflection==0.3.1
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.5
keras==2.12.0
lazy-object-proxy==1.10.0
libclang==18.1.1
Markdown==3.7
MarkupSafe==3.0.2
ml_dtypes==0.5.1
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.10.0.84
opt_einsum==3.4.0
orator==0.9.9
packaging==24.2
pandas==2.2.3
pastel==0.1.1
pendulum==1.5.1
pillow==11.1.0
protobuf==4.25.5
pyaml==16.12.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.19.1
pylev==1.4.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
pytzdata==2020.1
PyYAML==5.3.1
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.15.1
simplejson==3.19.3
six==1.17.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
text-unidecode==1.2
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==1.5.1
urllib3==2.3.0
Werkzeug==3.1.3
wrapt==1.14.1
